
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    font-family: "Caveat", cursive;
}

body {
    font-family: "Caveat", cursive;
    background-color: rgb(223, 67, 67);
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(223, 67, 67);
    color: #fff;
    font-weight: 540;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  p {
    font-size: 30px;
  }

  
  button:hover {
    background-color: rgb(215, 40, 40);
  }
  
  .hidden {
    display: none;
  }
  
  #surpresaContent {
    margin-top: 20px;
  }
  
  #surpresaContent img {
    max-width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width: 428px) {
    /* Estilos específicos para o iPhone 14 Pro Max */
    .container {
      max-width: 90%;
      margin: 20px auto;
      padding: 10px;
    }
  
    button {
      font-size: 16px;
    }
  }
  